@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/vendor/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body class="panel-body">
    <div>
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">URLShortener</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li class="nav-item active">
                            <a class="nav-link" asp-controller="Account" asp-action="List">Your Links</a>
                        </li>
                    }
                </ul>
                <ul class="navbar-nav">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        @if (User.IsInRole("Administrator"))
                        {
                            <li class="nav-item dropdown active">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Admin Panel
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-controller="Admin" asp-action="ListUsers">All Users</a>
                                    <a class="dropdown-item" asp-controller="Admin" asp-action="ListLinks">All Links</a>
                                    <a class="dropdown-item" asp-controller="Admin" asp-action="BlockedDomains">Blocked Domains</a>
                                </div>
                            </li>
                        }
                        <li class="nav-item">
                            <form asp-controller="Account" asp-action="Logout" class="form-inline my-2 my-lg-0" method="post">
                                Hello, @UserManager.GetUserName(User)
                                <button type="submit" class="btn btn-secondary">Logout</button>
                            </form>
                        </li>

                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Account" asp-action="Login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Account" asp-action="Register">Register</a>
                        </li>
                    }
                </ul>
            </div>
        </nav>

        @RenderBody()
    </div>
    <script src="~/vendor/popper.js/dist/popper.min.js"></script>
    <script src="~/vendor/jquery/dist/jquery.slim.min.js"></script>
    <script src="~/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
